div#business {
    width: 100%;
    height: 2100px;
    position: absolute; top: 2400px;
}

div#index {
    width: 50px;
    font-size: 400%;
    position: -webkit-sticky;
    position: sticky; 
    top: 0;
    left: 40px;
    z-index: 1;
}

div#p1 {
    width: 100%;
    height: 300px;
    position: absolute; 
    top: 0px;
    background-color: aqua;
}

p#education {
    font-size: 300%;
    position: absolute; top: 20px; left: 200px;
}

div#eduImg {
    background-image: url(10736002776.jpg);
    width: 200px;
    height: 240px;
    position: absolute;
    top: 50px;
    right: 400px;
    display: none;
}

div#p2 {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 300px;
}

p#network {
    font-size: 300%;
    position: absolute; top: 20px; right: 50px;
}

div#p3 {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 600px;
    background-color: aqua;
}

p#support {
    font-size: 300%;
    position: absolute; top: 20px; left: 200px;
}

div#p4 {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 900px;
}

p#event {
    font-size: 300%;
    position: absolute; top: 20px; right: 50px;
}

div#p5 {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 1200px;
    background-color: aqua;
}

p#research {
    font-size: 300%;
    position: absolute; top: 20px; left: 200px;
}

div#p6 {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 1500px;
}

p#innovation {
    font-size: 300%;
    position: absolute; top: 20px; right: 50px;
}

div#p7 {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 1800px;
    background-color: aqua;
}

p#online {
    font-size: 300%;
    position: absolute; top: 20px; left: 200px;
}

