div#VISION {
    width: 100%;
    height: 600px;
    background-position: left;
    background-color: white;
    position: absolute; top: 1200px;
}

div#visionImg {
    width: 400px;
    height: 600px;
    background-image: url(8908290.jpg);
    position: absolute; right: 0px;
}

p#vision {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 300%;
    position: absolute; top: 100px; left: 45%;
}

p#visionStatement {
    text-align: center;
    color: black;
    font-size: 400%;
    position: absolute; top: 200px; left: 15%;
}

div#visionExplain {
    width: 650px;
    height: 200px;
    position: absolute; top: 450px; left: 5%;
}
