section.business {
    width: 100%;
    height: 500px;
    position: absolute; top: 1765px;
    background-color: rgb(243, 243, 243);
}


.glb-text01 {
    font-size: 90%;
}

li.businessli{
    width: 220px;
    margin: 10px 37px 0px 37px;
    list-style: none;
    text-align: center;
}

div#index{
    text-decoration: underline;
    font-weight: bold;
    color:#4c4c4c;
    width: 100%;
    text-align: center;
    font-size: 200%;
    display: block;
}

li.businessli>h3{
    color:#2ea8e5;
    font-size:180%;
    margin-bottom: 0;
}

ul.glb-list01{
    display: flex;
    justify-content: center;
    overflow: hidden;
    color:#4c4c4c;
    list-style: none;
    list-style-type: disc;
}


