.btn-square-soft {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    color: white;
    width: 180px;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    font-weight: bold;
    background: linear-gradient(aquamarine 0%, mediumaquamarine 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  }
  
  .btn-square-soft:active {
    /*押したとき*/
    -webkit-transform: translateY(2px);
    transform: translateY(2px);/*沈むように*/
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(aquamarine 0%, aquamarine 100%);/*グラデーションを明るく*/

  }