section.MEMBER {
    width: 100%;
    height: 500px;
    background-position: left;
    background-color: white;
    position: absolute;
    top: 1360px;
    color:#4c4c4c;
}

div#memberRoleLayout {
    width: 60%;
    height: 50px;
    top: 30px;
    position: absolute;
    left: 20%;
    border-style: solid none;
}

p#memberRoleTxt {
    height: 20px;
    width: 100%;
    text-align: center;
    font-size: 175%;
    font-weight: bold;
    position: absolute;
    top: -25px;
}

div#membershipLayout {
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px;
    
}

p#membershipTxt {
    width: 100%;
    text-align: center;
    font-size: 100%;
}

a#joinButtonLayout {
    position: absolute;
    top: 280px;
    left: 42%;
    font-size: 150%;
}