div#MISSION {
    width: 100%;
    height: 400px;
    background-position: left;
    background-color: white;
    position: absolute; top: 550px;
}

p#mission {
    width: 100%;
    text-align: center;
    color:#4c4c4c;
    font-size: 250%;
    position: absolute; top: 10px;
    /*要素をBOXの中央に配置する: https://arts-factory.net/position/ */
}

p#missionStatement {
    width: 100%;
    text-align: center;
    color: #20b2aa;
    font-size: 300%;
    position: absolute; top: 100px;
}

p#missionExplain {
    width: 100%;
    text-align: center;
    color:#4c4c4c;
    font-size: 125%;
    position: absolute; top: 250px;
}
