div#MISSION {
    width: 100%;
    height: 450px;
    background-position: left;
    background-color: white;
    position: absolute; top: 600px;
}

p#mission {
    text-decoration: underline;
    color:#4c4c4c;
    font-size: 300%;
    position: absolute; top: 10px; left: 45%;
    /*要素をBOXの中央に配置する: https://arts-factory.net/position/ */
}

p#missionStatement {
    text-align: center;
    color:#4c4c4c;
    font-size: 350%;
    position: absolute; top: 100px; left: 5%;
}

p#missionExplain {
    text-align: center;
    color:#4c4c4c;
    font-size: 150%;
    position: absolute; top: 250px; right: 5%;
}
