/*-----------------------------------------------
CSS file should be divided in a way that reader can
understand which part of HTML this CSS is related.
This CSS defines style of the website i.e. header
hence the title of the file is "style.css"
------------------------------------------------*/
/*CSS class is associated by tag name*/

body {
    background-color: white;
    width: 100%;
    height: auto;
    margin: 0;
    /*Bodyの背景はただの白にして、それぞれのセクションで背景画像を配置しなければいけない https://www.sejuku.net/blog/55771 */
}
