
footer{
    width: 100%;
    height: auto;
    background-color: white;
    position: absolute;
    bottom: 0;
    top: 4750px;
}

div kusuriMateFooterLayout {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 200px;
    left: 5%;
}

a kusuriMateFooterTxt{
    font-size: 200%;
    text-decoration: none;
    color: black;
    top: 30%;
    left: 5%;
}

div representativeFooterLayout {
    width: 10%;
    height: 5%;
    position: absolute;
    top: 30%;
    left: 5%;
}

div copyrightFooterLayout {
    width: 10%;
    height: 5%;
    position: absolute;
    right: 5%;
}