section#topbar{
  width: 100%; 
  display: flex;
  justify-content: space-between;
  background-color: rgba(105, 105, 105, 0.397);
}

a#indexJump {
  text-decoration: none;
  color: white;
}

header#menu nav ul {
  padding-left: 0px;
  margin-top: 45px;
  list-style: none;
  overflow: visible;
}

header#menu nav li:hover{
  text-decoration: underline ;
  
}

header#menu nav li {
  font-size: 100%;
  margin: 0px;
  width: 150px;
  text-align: center;
  float: right;
  font-weight: bold;
}

header#menu nav li a {
  text-decoration: none;
  color: white;   /*to turn blue default to white: https://techacademy.jp/magazine/21233 */
}

h1{
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}