section#topmain{
  height: 475px;
  width: 100%;
  position: relative;
  background-color: rgba(105, 105, 105, 0.397);
}

div#top{
  width: 100%;
  color: white;
  position: absolute;
}

div#headerback{

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

p#kusuriMate {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 300%;
  margin-top: 180px;
  color: white;
  font-weight: bold;
}

p#platform {
  text-align: center;
  font-size: 300%;
  color: white;
  font-weight: bolder;
  margin-top: 150px;
}

div#news {
  height: 150px;
  width: 400px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 80%;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 30px;
}