section#shoukai{
  width: 100%;
  position: absolute;
  height: 600px;
}

div#aisatutop{
  width: 100%;
  margin: 10px 20px 10px 20px;
  position: absolute;
  display: flex;
}

h1#aisatu{
  color: #4c4c4c;
  margin: 20px 20px 10px 20px;
  border-bottom: solid #4c4c4c;
}

div#aisatumain>img{
  width: 250px;
  height: 350px;
}

h2#daihyoumei{
  color: #4c4c4c;
  font-size: 1.1rem;
  text-align: center;
}

h3#aisatunaiyou{
  margin-left: 40px;
  margin-right: 40px;
  color: #4c4c4c;
  font-size: 1.15rem;
}