.fb {
    background-image: url(../../img/sns/f_logo_RGB-Hex-Blue_512.png);
    background-size: 60px;
}

.line {
    background-image: url(../../img/sns/LINE_APP.png);
    background-size: 60px;
}

.insta {
    background-image: url(../../img/sns/glyph-logo_May2016.png);
    background-size: 60px;
}

