div#event {
    width: 100%;
    height: auto;
    position: absolute;
    top: 4300px;
    background-color: #eeeeee;
}

div#eventLayout {
    width: 80%;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10%;
    border-radius: 10px / 10px;
    border-style: solid;
    border-color: #ffff00;
    border-width: thick;
    background-color: white;
}

p#eveTxt {
    position: absolute;
    top: -120%;
    left: 38%;
    font-size: 250%;
    text-align: center;
}

div#eveLeadImg {
    width: 15%;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 10%;
    background-color: red;
}

div#eveperson {
    width: 15%;
    height: 50px;
    position: absolute;
    top: 290px;
    left: 10%;
    font-size: 75%;
}

div#evedeta {
    position: absolute;
    top: 100px;
    left: 30%;
}
