div#medicSupport {
    width: 100%;
    height: auto;
    position: absolute;
    top: 3300px;
}

div#medicSupportLayout{
    width: 80%;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10%;
    border-radius: 10px / 10px;
    border-style: solid;
    border-color: #c0c0c0;
    border-width: thick;
    background-color: white;
}

p#medicSupportTxt {
    position: absolute;
    top: -120%;
    left: 38%;
    font-size: 250%;
    text-align: center;
}

div#medicSupportLeadImg {
    width: 15%;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 10%;
    background-color: red;
}

div#medicSupportperson {
    width: 15%;
    height: 50px;
    position: absolute;
    top: 290px;
    left: 10%;
    font-size: 75%;
}

div#medisupLayout {
    width: 60%;
    height: 400px;
    position: absolute;
    top: 80px;
    left: 40%;
}

p#medisupTxt {
    font-size: 200%;
}

ul#medisupLst {
    font-size: 200%;
}

div#medisupdeta {
    position: absolute;
    top: 500px;
    left: 10%;
}