div#research {
    width: 100%;
    height: auto;
    position: absolute;
    top: 4850px;
    background-color: #eeeeee;
}

div#researchLayout {
    width: 80%;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10%;
    border-radius: 10px / 10px;
    border-style: solid;
    border-color: #008000;
    border-width: thick;
    background-color: white;
}

p#resTxt {
    position: absolute;
    top: -120%;
    left: 45%;
    font-size: 250%;
    text-align: center;

}

div#researchLeadImg {
    width: 15%;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 10%;
    background-color: red;

}

div#researchperson {
    width: 15%;
    height: 50px;
    position: absolute;
    top: 290px;
    left: 10%;
    font-size: 75%;

}

div#researchdeta {
    position: absolute;
    top: 90px;
    left: 30%;
}
